<div class="container">
  <div class="row">
    <ng-template ngFor let-item [ngForOf]="menuProducts">
      <div class="col-3 product-container">
        <div class="product-photo-container">
          <a href="product/{{item.id}}">
            <img class="product-photo raz" src="https://demo.htmlhunters.com/shopy/assets/images/demo/product-3-2.jpg" />
            <img class="product-photo dva" src="{{item.photo}}" />
            <p class="product-name">{{item.name}}</p>
          </a>
        </div>
        <!-- <div *ngIf="item.pricesBoolean">
          <p class="product-price">
            Average price: {{item.price}}
          </p>
        </div>
        <div *ngIf="!item.pricesBoolean">
          <p class="product-price">
            Price: {{item.price}}
          </p>
        </div> -->
      </div>
    </ng-template>
  </div>
</div>
