<div class="container">
  <div class="row">
    <ng-template ngFor let-item [ngForOf]="menuProducts">
      <div class="col-3 product-container">
        <div class="product-photo-container">
          <a href="product/{{item.id}}">
            <img class="product-photo" src="{{item.photo}}" />
            <p class="product-name">{{item.name}}</p>
          </a>
        </div>
        <div *ngIf="item.pricesAverage">
          <p class="product-price">
            Average price: {{item.netPrice}}
          </p>
        </div>
        <div *ngIf="!item.pricesAverage">
          <p class="product-price">
            Price: {{item.netPrice}}
          </p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
